@page "/counter"
@using Microsoft.Extensions.Options
@using Startup.Blazor.Server.Helpers.Extensions
@using Startup.Blazor.Server.Models.ApplicationSettings
@using Startup.Common.Helpers.Extensions
@rendermode InteractiveServer

@inject NavigationManager NavigationManager
@inject IOptions<AppSettings> AppSettings;
@inject ILogger<Counter> Logger;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="RefreshPage">Refresh Page</button>
<button class="btn btn-primary" @onclick="DisplayConfig">Display Configuration</button>
<br/>
<text>@_configSettings</text>

@code {
    private int _currentCount = 0;
    private string? _configSettings;

    private void IncrementCount()
    {
        _currentCount++;
    }

    private void RefreshPage()
    {
        NavigationManager.Refresh(true);
    }

    private void DisplayConfig()
    {
        _configSettings = AppSettings.Value.ToJson();

        Logger.LogAppSettings(AppSettings.Value);
    }
}
