@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

My ePortfolio can be found at <a class="fw-bold" href="https://github.com/MCLifeLeader/ePortfolio" target="_blank" rel="noopener">here</a>.
