@page "/"
@using Blazor.Startup.Example.Services.Interfaces
@inject ICanaryService CanaryService

<PageTitle>Home page</PageTitle>

<div class="text-center">
    <h1 class="display-4">Agency Application Services - .NET Blazor</h1>
    <h3>Exploring using .NET Blazor for the Agency management experience</h3>
    <img class="img-fluid rounded" src="./content/images/DefaultLogo.png"/>

    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<div class="row">
    <div class="col-12">
        <p>
            Agency Services
        </p>
    </div>
    <div class="col-12">
        <ul>
            <li>

            </li>
            <li>

            </li>
        </ul>
    </div>
    <div class="col-12">
        <p>
            @canaryPageDetails
        </p>
    </div>
</div>

@code
{
    private string canaryPageDetails = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            canaryPageDetails = await CanaryService.ReadApiCanaryPageAsync();
        }
        catch (Exception e)
        {
            canaryPageDetails = e.Message;
        }
    }
}