@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img class="img-fluid rounded" src="~/content/images/DefaultLogo.png"/>
</div>
<div class="p-2"></div>
<div class="row">
    <div class="col-12 text-center">
        <h3>
            My ePortfolio can be found at <a class="fw-bold" href="https://github.com/MCLifeLeader/ePortfolio" target="_blank" rel="noopener">here</a>.
        </h3>
    </div>
</div>